*{
  margin: 0;
  padding: 0;
}

.app{
  display: flex;
  min-height: 100%;
  flex-direction: column;
}
main{
  /* flex: 1; */

}
.appbar{
  padding: 0 30px;
}
.navbar-fixed{
background-color: aqua;
height: 80px;
border-bottom: box-shadow  gray;
}
.nav-wrapper{
  text-decoration:none ;
  color: yellowgreen;
  display: flex;
  font-size: 30px;
  padding-top: 50px;
  font-weight: 700;
}
main{
  height: 70vh;
}


footer{
  background-color: aqua;
  height: 70px;
}
.footer-copyright{
  display: flex;
  color: blue;
  justify-content: space-evenly;
  font-weight: 800;
  font-size: 30px;
  margin-top: 10px;
}
.footer-copyright a{
  text-decoration: none;
  color: blue;
}
form{
  border: 1px solid grey;
  max-width: 700px;
  margin: 20px auto;
  border-radius: 5px;
  /* height: 40vh; */
}
form input{
  height: 40px;
}